* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  user-select: none;
}

#win {
  display: none;
}

#lose {
  display: none;
}

#tutor {
  display: none;
}

#win, #lose, #tutor {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 500px;
  border: 1px solid rrgba(150, 0, 0, 0.3)ed;
  border-radius: 20px;
  box-shadow: 0 19px 38px rgba(150, 0, 0, 0.3), 0 15px 12px rgba(150,0,0,0.22);
  background: #ffffff;
  text-align: center;
}

h1.textStage {
  font-family: sans-serif;
  font-size: 80px;
  font-weight: bolder;
  color: #f6ab00;
}

.linkStage {
  margin-top: 20px;
  text-decoration: none;
  color: black;
  font-size: 21px;
  border: 0.5px solid grey;
  padding: 3px;
  border-radius: 4px;
}

.linkStage:hover {
  color: #4284f3;
}

h1.colorLose {
  color: #9c2d2d;
}

div#tutor .textTutor {
  display: block;
  font-size: 34px;
  font-weight: bold;
  margin: 0 auto;
  padding: 17px;
  color: #823333e3;
}

#box {
  height: 50px;
}


#back {
  background: url(./imageGame2/93634.png);
  background-size: cover;
  border-radius: 50%;
  width: 3.1%;
  height: 6.2%;
  position: absolute;
  top: 2%;
  left: 1%;
}

#menu {
  background: url(./imageGame2/menu-button-of-three-horizontal-lines.svg);
  background-size: cover;
  border-radius: 1%;
  width: 3.1%;
  height: 6.2%;
  position: absolute;
  top: 2%;
  left: 95%;
  cursor: pointer;
}

#fiveStar {
  position: absolute;
  top: 2%;
  left: 76%;
  width: 224px;
  height: 50px;
  background: #ffffffab;
  padding: 1px;
  border-radius: 5px;
}

.star {
  display: inline-block;
  background-image: url('./imageGame2/star-shape-rounded\ \(1\).svg');
  background-size: cover;
  width: 40px;
  height: 40px;
  margin: 2px;
}

#title {
  position: absolute;
  width: 314px;
  height: 100px;
  top: 7%;
  left: 3%;
}

img#imageTitle {
  width: 33%;
  display: inline-block;
  top: 7%;
  position: absolute;
}

h2 {
  display: inline-block;
  font-family: cursive;
  font-size: 45px;
  color: black;
  position: absolute;
  left: 34%;
  top: 41%;
  font-style: normal;
}

#game {
  background-image: url('./imageGame2/school3.jpg');
  background-size: cover;
}

#words {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  height: 76%;
  border: 6px solid transparent;
  border-radius: 8px;
  text-align: center;
  background: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  
}

#words:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  
}

@keyframes trueSelectOne{
  0%{
    border-color: transparent;
  }
  10%{
    border-color:#2ecc71;

  }
  100%{
    border-color: transparent;
  }
}
@keyframes falseSelectOne{
  0%{
    border-color: transparent;
  }
  10%{
    border-color:#fd79a8;

  }
  100%{
    border-color: transparent;
  }
}




h3#title {
  font-size: 35px;
  text-align: center;
  font-family: cursive;
}

.must {
  font-size: 25px;
  font-family: monospace;
  color: #74b9ff;
  padding-left: 25px;
}

.contaiter {
  margin: 4%;
}

#animation {
  position: absolute;
  right: 8%;
  bottom: 21%;
  width: 160px;
  height: 220px;
  /* 80+1*110+1 */
  background: url('./imageGame2/player_vector.svg');
  background-size: 900%;
}

#game {
  height: 670px;
  position: relative;
}

.childWord {
  display: inline-block;
  width: 8.2%;
  height: 44px;
  border: 0.1px solid #c5b9b954;
  margin: 0;
  font-size: 27px;
  font-weight: bold;
  font-family: cursive;
  border-radius: 0;
  color: #000000b5;
  background-color: white;
  cursor: pointer;
}

.childWord:hover {
  background-color: #d09683;
}

.selectChildWord {
  background-color: #d09683;
}

#mustWords {
  position: absolute;
  left: 8%;
  top: 26%;
  width: 15%;
  height: 54%;
  border: 10px solid #fab1a0;
  background: white;
  border-radius: 10px 30px 10px 30px;
}

h3#title {
  font-size: 35px;
  text-align: center;
  font-family: cursive;
  padding: 10px;
  border-bottom: 1px solid #0984e3;
}

div#currentWord {
  left: 41%;
  top: 4%;
  font-size: 30px;
  font-family: monospace;
  position: absolute;
  background: white;
  border: 1px solid #a29bfe;
  border-radius: 4px;
  width: 250px;
  text-align: center;
  height: 40px;
}

.must {
  font-size: 25px;
  font-family: monospace;
  color: #74b9ff;
  padding: 10px;
}

p {
  display: inline-block;
  padding-left: 10px;
}

.nodis {
  display: none;
}

.contaiter {
  margin: 4%;
}

.textDecor {
  position: absolute;
  color: black;
  font-size: 15px;
  font-weight: bold;
}

.p2 {
  top: 8%;
  left: 93.7%;
}

.p1 {
  top: 8%;
  left: 0.3%;
}

#selectGame{
  position: absolute;
  font-size: 39px;
  font-weight: bold;
  right: 9.1%;
  bottom: 48%;
  color: white;
}
